<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>dd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JavaServlet</display-name>
    <servlet-name>JavaServlet</servlet-name>
    <servlet-class>JavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaServlet</servlet-name>
    <url-pattern>/JavaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JavaServlet1</display-name>
    <servlet-name>JavaServlet1</servlet-name>
    <servlet-class>com.assessment.JavaServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaServlet1</servlet-name>
    <url-pattern>/JavaServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEmpServlet</display-name>
    <servlet-name>CreateEmpServlet</servlet-name>
    <servlet-class>com.servlet.CreateEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEmpServlet</servlet-name>
    <url-pattern>/CreateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindEmpServlet</display-name>
    <servlet-name>FindEmpServlet</servlet-name>
    <servlet-class>com.servlet.FindEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEmpServlet</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
</web-app>